---
layout: default
---
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />

<!-- Page Header -->
<header class="intro-header" style="background-color: black; height: 60px;">
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>EinBlick hinter die Fassaden. Innenhöfe – Ein verborgenes Wien</h1>
      <p>Das vorliegende interaktive Projekt lädt Passant_innen und User_innen sowohl off- als auch online dazu ein, mehr zu flanieren und sich zu trauen, auch die verborgenen Teile Wiens zu erkunden. Das Projekt schafft dadurch nicht nur neue Perspektiven, sondern offenbart auch die Schönheit, die sich hinter den Fassaden – in den Innenhöfen Wiens – verbirgt.</p>
      <hr>
    </div>
  </div>
	<div class="row">
    <div class="col-lg-9"><div id="map" style=" height: 1200px"></div></div>
		<div class="col-lg-3" style="margin-top:-30px;">
			{{ content }}
		</div>
	</div>
</div>

<script>
L.mapbox.accessToken = '{{site.mapbox-token}}';
var bounds = [
    [48.202465,16.375895], // Southwest coordinates
    [48.216879,16.328387]  // Northeast coordinates
];
var map = L.mapbox.map('map', '{{site.mapid}}', {
    // set that bounding box as maxBounds to restrict moving the map
    // see full maxBounds documentation:
    // http://leafletjs.com/reference.html#map-maxbounds
    maxBounds: bounds,
    maxZoom: 19,
    minZoom: 14
});

var featureLayer = L.mapbox.featureLayer()
.loadURL('{{site.url}}/map/hofs.geojson')
.addTo(map);

featureLayer.on('ready', function() {
  map.fitBounds([[
        48.216879,
        16.338387
    ], [
        48.202465,
        16.375895
    ]]);
});

featureLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;

  // Create custom popup content
  var popupContent =  '<a class="popup" href="' + feature.properties.url + '">' +
  '<img alt="'+ feature.properties.title +'+" style="max-width: 350px" src="https://csvuh86c.cloudimg.io/s/resizeinbox/300x300/' + feature.properties.image + '" style="text-align:center;"/><p class="text-center">'+feature.properties.title+'</p></a>';

  // http://leafletjs.com/reference.html#popup
  marker.bindPopup(popupContent,{
    minWidth: 300,
    closeButton: false
  });
});
</script>
<hr>
