---
layout: default
---
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />

<!-- Post Header -->
<header class="intro-header" style="background-image:url(http://api.tiles.mapbox.com/v4/{{ site.mapid }}/{% if coord_size >= 2 %}geojson%28%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%22stroke-opacity%22%3A0%7D%2C%22geometry%22%3A%7B%22type%22%3A%22MultiLineString%22%2C%22coordinates%22%3A%5B%5B{% for coordinate in page.coordinates %}%5B{{coordinate | replace: ' ','' | replace: ',','%2C'}}%5D{% if forloop.last %}{% else %}%2C{% endif %}{% endfor %}%5D%0A%5D%0A%7D%0A%7D%29/auto{% else %}{% for coordinate in page.coordinates limit:1 %}{{ coordinate }}{% endfor %},{% if page.zoom %}{{ page.zoom }}{% else %}17{% endif %}{% endif %}/1280x600.png?access_token={{ site.mapbox-token }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.number }}. {{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>

<div id="map" style="max-width: 100%; margin: 0 auto 1em; height: 300px"></div>
<script>
L.mapbox.accessToken = '{{site.mapbox-token}}';
var map = L.mapbox.map('map', '{{site.mapid}}', {
    // set that bounding box as maxBounds to restrict moving the map
    // see full maxBounds documentation:
    // http://leafletjs.com/reference.html#map-maxbounds
    maxZoom: 19,
    minZoom: 14
});

var featureLayer = L.mapbox.featureLayer()
.loadURL('{{site.url}}/map/hofs.geojson')
.addTo(map);

featureLayer.on('ready', function() {
  map.fitBounds(featureLayer.getBounds());
});

featureLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;

  // Create custom popup content
  var popupContent =  '<a class="popup" href="' + feature.properties.url + '">' +
  '<img alt="'+ feature.properties.title +'+" style="max-width: 250px" src="https://csvuh86c.cloudimg.io/s/resizeinbox/180x180/' + feature.properties.image + '" style="text-align:center;"/><p class="text-center">'+feature.properties.title+'</p></a>';


  // http://leafletjs.com/reference.html#popup
  marker.bindPopup(popupContent,{
    minWidth: 200,
    closeButton: false
  });
});
</script>
